NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme_openssl_rand_base64_32

CLOUDINARY_CLOUD_NAME=dgigomqfz
CLOUDINARY_CLOUD_KEY=856587967978688
CLOUDINARY_CLOUD_SECRET=7J-ZRCx3bU9-Z-U3C8TvBfO7760
MONGODB_URI=mongodb+srv://saurabh:EvKJuuNxtsxWGxd0@cluster0.e8d2pel.mongodb.net/campus_connect
