NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme_openssl_rand_base64_32
MONGODB_URI=mongodb://localhost:27017/campus_connect
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_CLOUD_KEY=your_cloud_key
CLOUDINARY_CLOUD_SECRET=your_cloud_secret
